<!DOCTYPE html>
<html lang="it">
<!-- Header con logo dell'università -->
<header class="has-background-primary py-4">
    <div class="container">
        <div class="columns is-vcentered is-mobile">
            <!-- Logo -->
            <div class="column is-narrow">
                <figure class="image is-96x96">
                    <img th:src="@{/images/Logo.jpeg}" alt="Logo Università" style="object-fit: contain;">
                </figure>
            </div>

            <!-- Titolo e sottotitolo -->
            <div class="column">
                <h1 class="title is-3 has-text-light mb-1">Università degli Studi di Ferrara</h1>
            </div>
        </div>
    </div>
</header>

</html>